In [1]:
C = input("C? ")
C = float(C)
F = 9/5*C + 32
print(F)

C? 100
212.0

### Print n first even number

In [2]:
n = int(input("n? "))
for i in range(2,2*n+1 ,2):
    print(i)

n? 5
2
4
6
8
10

In [3]:
print(range(2,2*n+1,2))

range(2, 11, 2)

In [6]:
for i in range(1,n+1):
    print(i*2)

2
4
6
8
10

### magic eval() func

In [7]:
s = '1+2'
r= eval(s)
r

3

In [8]:
s ="[1,2,3,4,5]+[6,7]"
r = eval(s)
r

[1, 2, 3, 4, 5, 6, 7]

In [9]:
type(s)

str

In [10]:
type(r)

list

### eval func with string

In [11]:
s = "'Math Programming'"
r = eval(s)
r

'Math Programming'

### with eval add_input.py

In [13]:
i1 = eval(input("Give input1; "))
i2 = eval(input("Give input2; "))
r = i1+i2
print("with eval, %s  %s \nbeacome %s with value of %s"%(type(i1),type(i2),type(r),r))

Give input1; 1,2,3,4
Give input2; 5,6,7,8
with eval, <class 'tuple'>  <class 'tuple'>
beacome <class 'tuple'> with value of (1, 2, 3, 4, 5, 6, 7, 8)

### Magic func :exec

In [14]:
statement = 'r=1+2'
exec(statement)
print(r)

3

### exec() to input formula at runtime

In [16]:
formula = input("Write func including x: ")
code = """
def f(x):
    return %s
"""% formula

from math import *
exec(code)
x=0
while x is not None:
    x=eval(input("Enter x(none to quit): "))
    if x is not None:
        y = f(x)
    print("f(%s)=  %s"%(x,y))

Write func including x: x**2
Enter x(none to quit): 3
f(3)=  9
Enter x(none to quit):

SyntaxError: unexpected EOF while parsing (<string>, line 0)

### GUI

In [4]:
from tkinter import *
root = Tk()

c_entry = Entry(root,width=4)
c_entry.pack(side='left')

c_unit_lable= Label(root,text ='celsicus')
c_unit_lable.pack(side='left')

def compute():
    C = float(c_entry.get())
    F = 9/5*C + 32
    f_lable.configure(text='%g' %F)
    

compute = Button(root,text = 'is',command=compute)
compute.pack(side='left',padx=4)

f_lable= Label(root,width=4)
f_lable.pack(side='left')

f_unit_lable =Label(root,text='farenheit')
f_unit_lable.pack(side='left')

root.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\SC\anaconda3\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "<ipython-input-4-37f07bbf411e>", line 11, in compute
    C = float(c_entry.get())
ValueError: could not convert string to float: ''

### Reading data from file

In [1]:
f = open("data.txt",'w')
f.write("""27.8
17.8
14
12
32
19.3
""")
f.close()

### Basic file reading

In [3]:
infile = open('data.txt','r')
mean = 0
lines = infile.readlines()
infile.close()

for line in lines:
    number = float(line)
    mean = mean+number
    print("number is %.2f" %number)
mean = mean/len(lines)
print("mean is %.2f"%mean )

number is 27.80
number is 17.80
number is 14.00
number is 12.00
number is 32.00
number is 19.30
mean is 20.48

### Alternative ways to read data from files

In [4]:
infile = open('data.txt','r')
line = infile.readline() #read single line from file
print(line)
infile.close()

27.8

In [6]:
infile = open('data.txt','r')
lines = infile.readlines()
print(lines)
infile.close()

['27.8\n', '17.8\n', '14\n', '12\n', '32\n', '19.3\n']

In [7]:
infile = open('data.txt','r')
text =  infile.read()
infile.close()

In [8]:
text

'27.8\n17.8\n14\n12\n32\n19.3\n'

### modern method reading file

In [9]:
infile = open('data.txt','r')
while True:
    
    line = infile.readline()
    if not line:
        break
    else:
        print(line)
infile.close()

27.8

17.8

14

12

32

19.3

In [10]:
file = open('tmp.txt','w')
file.write("""line1.
line2.
line3.
line4.
line5.
""")
file.close()

In [12]:
inf = open('tmp.txt','r')
lines = inf.readlines()
inf.close()
print(lines)

['line1.\n', 'line2.\n', 'line3.\n', 'line4.\n', 'line5.\n']

In [14]:
inf = open('tmp.txt','r')
line = inf.readline()
#inf.close()

In [15]:
line

'line1.\n'

In [16]:
infile = open('tmp.txt','r')
text = infile.read()
infile.close()

In [17]:
text

'line1.\nline2.\nline3.\nline4.\nline5.\n'

### String splitting

In [18]:
text.split()#white space character

['line1.', 'line2.', 'line3.', 'line4.', 'line5.']

In [19]:
line3 = 'Line 3.\n'
line3.split()

['Line', '3.']

In [21]:
line3.split('e')

['Lin', ' 3.\n']

In [12]:
outfile = open('rainfall.dat','w')
outfile.write("""Average rainfall (in mm) in Rome: 1188 months between 1782 and 1970
Jan  81.2
Feb  63.2
Mar  70.3
Apr  55.7
May  53.0
Jun  36.4
Jul  17.5
Aug  27.5
Sep  60.9
Oct  117.7
Nov  111.0
Dec  97.9
Year 792.9
""")
outfile.close()

In [13]:
def extract_data(filename):
    infile = open(filename,'r')
    infile.readline()
    months =[]
    value = []
    for line in infile:
        words = line.split()
        months.append(words[0])
        value.append(float(words[1]))
    infile.close()
    months = months[:-1]
    annual_avg = value[-1]
    rainfall = value[:-1]
    return months,rainfall,annual_avg

months,values,avg = extract_data('rainfall.dat')
print("The average rainfall for month: ")
for m,v in zip(months,values):
    print(m,v)
print("The average rainfall for year: ",avg)

The average rainfall for month:
Jan 81.2
Feb 63.2
Mar 70.3
Apr 55.7
May 53.0
Jun 36.4
Jul 17.5
Aug 27.5
Sep 60.9
Oct 117.7
Nov 111.0
Dec 97.9
The average rainfall for year:  792.9

### Writing a table to file

In [15]:
outfile = open('tmp.dat','w')
outfile.write("""123
456
789
0.12
3.45
6.78
9.01""")
outfile.close()

In [17]:
outfile = open('tmp.dat','a')
outfile.write("""
1.23
4.56
5.67""")
outfile.close()

In [23]:
data = \
    [[0.75, 0.29619813, -0.29619813,-0.75],
    [0.29619813, 0.1169778,-0.11969778,-0.29619813],
    [-0.29619813,- 0.1169778,0.11969778,0.29619813],
    [-0.75,-0.29619813, 0.29619813,0.75]]

In [25]:
outfile = open('tmp.dat','w')
for row in data:
    for col in row:
        outfile.write("%14.8f" %col)
    outfile.write('\n')
outfile.close()

### Error handling for wrong input

In [4]:
from math import log as ln

def current_amount(A0,p,n):
    return A0*(1+(p/(360.0*100)))**n

def initial_amount(A,p,n):
    return A*(1+(p/(360.0*100)))**(-n)

def days(A0,A,p):
    return ln(A/A0)/ln(1+(p/(360.0*100))

def annual_rate(A0,A,n):
    return 360*100*((A/A0)**(1.0/n)-1)

SyntaxError: invalid syntax (<ipython-input-4-0a04d04e80d0>, line 12)

In [7]:
from interest import days

A0=1; A=2; p=5
d = days(A0,2,p)
years = d/361.0
print("Money has double after %1f years" %d)

def test_all_functions():
    A = 2.213398305326669;A0 = 2.0; p=5;n =730
    A_computed = current_amount(A0,p,n)
    A0_computed = initial_amount(A,p,n)
    n_computed = days(A0,A,p)
    p_computed = annual_rate(A0,A,n)
    def float_eq(a,b,tolerance=1E-12):
        return abs(a-b)<tolerance
    success = float_eq(A_computed,A) and\
               float_eq(A0_computed,A0) and \
               float_eq(p_computed,p) and\
               float_eq(n_computed,n)
    assert success
if _name_ == '_main_':
    test_all_function()

SyntaxError: invalid syntax (interest.py, line 13)